
.main-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.header {
    border-bottom: 1px solid #262626;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .size-controller {
        display: flex;
        align-items: center;

        input {
            width: 60px;
        }
    }
}

.sidebar {
    width: 200px;
    padding:10px;
    border-right: 1px solid #262626;
}

.content {
    border-right: 1px solid #262626;
    flex-grow: 1;
    padding:10px;

    .editor {
        border: 1px solid #262626;
        height: 100%;
        border-radius: 2px;
    }
}

.property {
    width: 300px;
    padding:10px;
}