
.main-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #262626;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .size-controller {
        display: flex;
        align-items: center;

        input {
            width: 60px;
        }
    }
}

.sidebar {
    width: 220px;
    padding:10px;
    border-right: 1px solid #262626;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;

    .sidebar-category-box {
        margin-bottom: 20px;
    }

    .sidebar-category-title {
        font-weight: bold;
        padding: 5px;
    }

    .components-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .component-item {
        text-align: center;
        padding: 8px 10px;
        border-radius: 3px;
        width: 60px;
        margin: 5px;
        cursor: grab;
        background: #313030;
        
        &:active {
            cursor: grabbing;
        }
    }
}

.content {
    border-right: 1px solid #151414;
    flex-grow: 1;
    padding:10px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    position: relative;

    .editor {
        margin: 0 auto;
        border-radius: 2px;

        .editor-component {
            position: absolute;
            top: 0;
            left: 0;
        }
        -webkit-user-select: none;
        user-select: none;
    }
}

.property {
    width: 300px;
    padding:10px;
}